@import "tailwindcss";

@theme {
  --font-dm-sans: "DM Sans", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
@theme {
  --color-midnight: #293034;
}

body {
  background-color: #ffffff;
  min-height: 100vh;
}

/* Rest of your CSS here */
